# Configuração de E-mail para Receber Contatos
NOTIFICATION_EMAIL=arluckis@gmail.com

# Opcional: Provedor de Envio de E-mail
RESEND_API_KEY=

# Opcional: Banco de Dados Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=

PORT=3000
